.aside {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 320px;
    // overflow-y: auto;
    transform: translateX(100%);
    background-color: #fff;
    transition:
        transform 0.3s,
        visibility 0.3s;
    visibility: hidden;
    width: 80%;
    z-index: 100;
    &.open {
        transform: translateX(0);
        visibility: visible;
    }
}
